---
import BentoBox from "./BentoBox.astro";
import ProjectButton from "./ProjectButton.tsx";
import ProjectDialogs from "./ProjectDialogs.tsx";
import { PROJECTS } from "@/lib/const/projects";
---

<script>
  /*
- cco: rust,
- blog: rust, svelte
- spotify demo: astro,
- term-chess: astro1
- catstagram: svelte
*/
</script>

<ul class="grid gap-2 bento-layout lg:h-[600px]">
  {
    PROJECTS.map((project) => (
      <li style={`grid-area: ${project.id}`} class="grid">
        <ProjectButton client:load projectId={project.id}>
          <BentoBox class="w-full h-full">
            {" "}
            <div class="grid grid-rows-[auto_minmax(0,1fr)]">
              {" "}
              <div class="header">
                <h3 class="text-xl font-medium">{project.name}</h3>
              </div>
              <picture class="block overflow-hidden">
                <img
                  id={project.id}
                  class="group-hover:scale-110 transition-all duration-300"
                  src={project.image}
                  alt={`Preview image of ${project.name}`}
                />
              </picture>
            </div>
          </BentoBox>
        </ProjectButton>
      </li>
    ))
  }

  <li class="hidden lg:block bg-gray-900 rounded-lg [grid-area:none] m-1"></li>
</ul>

<ProjectDialogs client:load />

<style>
  .header {
    @apply text-left p-2 mb-px shadow-[0_3px_10px_rgb(0,0,0,0.2)];
  }

  img {
    @apply w-full h-full object-cover;
  }

  .bento-layout {
    grid-template-areas:
      "stopify stopify stopify stopify stopify stopify catstagram catstagram catstagram catstagram"
      "blog blog blog blog blog cco cco cco cco cco"
      "blog blog blog blog blog term-chess term-chess term-chess term-chess term-chess";

    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 2fr 1fr 1fr;
  }

  @screen lg {
    .bento-layout {
      grid-template-areas:
        "stopify stopify term-chess cco catstagram"
        "stopify stopify blog blog none";

      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, minmax(0, 1fr));
    }
  }
</style>
