---
import { PROJECTS } from "@/lib/const/projects";
import ProjectDialog from "./ProjectDialog.tsx";
import TechMark from "./TechMark.astro";

const stylesClass: Record<string, { containerClass: string }> = {
	stopify: {
		containerClass: "flex",
	},
	cco: {
		containerClass: "flex flex-col",
	},
	catstagram: {
		containerClass: "flex flex-row-reverse",
	},
	"term-chess": {
		containerClass: "flex flex-col-reverse",
	},
	blog: {
		containerClass: "flex",
	},
}
---

{
  PROJECTS.map((p) => (
    <ProjectDialog
      client:load
      projectId={p.id}
      image={p.image}
      video={p.video}
      name={p.name}
			containerClass={stylesClass[p.id]?.containerClass}
    >
      <h3 class="text-2xl text-bold mb-4">{p.name}</h3>

      <ul class="flex flex-wrap gap-1 mb-4">
        {p.technologies.map((tech) => (
          <li>
            <TechMark tech={tech} />
          </li>
        ))}
      </ul>

      <p>{p.description}</p>
    </ProjectDialog>
  ))
}
